{% load static %}



{% block head %}
<link rel="stylesheet" href="{% static 'animal_list/css/edit_animal.css' %}">
{% endblock head %}

</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Cadastrar Novo Animal</h1>
        </div>

        <div class="form-container">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                
                <div>
                    <button type="submit" class="btn-submit">Cadastrar</button>
                    <a href="{% url 'animal_list' %}" class="btn-back">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
