/* Container principal */
.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

/* Título */
h1 {
  text-align: center;
  color: #5b9d87;
}

/* Estilo dos rótulos e inputs */
.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

input[type="text"],
input[type="number"],
input[type="file"],
input[type="email"],
textarea,
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  font-size: 16px;
}

input[type="email"] {
  /* Estilos específicos para o campo de e-mail */
  border: 2px solid #a6a6a6;
  background-color: #f9f9f9;
}


textarea {
  resize: none;
}

/* Botões */
.buttons {
  display: flex;
  justify-content: space-between;
}

.btn-save {
  background-color: #5b9d87;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.btn-save:hover {
  background-color: #469973;
}

.btn-cancel {
  background-color: #f44336;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s;
}

.btn-cancel:hover {
  background-color: #e53935;
}
