/* Estilos Gerais */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f7f9fc;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 100%;
}

h1 {
  text-align: center;
  color: #4CAF50;
  font-size: 24px;
  margin-bottom: 20px;
  font-family: 'Comic Sans MS', cursive, sans-serif;
}

/* Estilos dos Inputs */
input[type="text"], 
input[type="number"], 
select, 
textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0 20px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
}

textarea {
  height: 100px;
  resize: none;
}

/* Estilos Botões */
button {
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

button[type="submit"] {
  background-color: #4CAF50;
  color: white;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #45a049;
}

button[type="reset"] {
  background-color: #f44336;
  color: white;
  transition: background-color 0.3s ease;
}

button[type="reset"]:hover {
  background-color: #e53935;
}

/* Estilo do Input de Foto */
input[type="file"] {
  display: block;
  margin-top: 10px;
  padding: 10px;
  background-color: #f2f2f2;
  border-radius: 5px;
  font-size: 16px;
}

/* Estilo Específico para o Select */
select {
  background-color: #f2f2f2;
}

/* Ajuste para Labels */
label {
  font-size: 16px;
  color: #555;
}

input:focus, textarea:focus, select:focus {
  outline: none;
  border-color: #4CAF50;
  box-shadow: 0 0 8px rgba(76, 175, 80, 0.3);
}

/* Estilo para cor */
input[name="Colour"] {
  width: 100%;
  padding: 10px;
  background-color: #f0fff0;
  border-radius: 5px;
}

/* Estilo para Porte */
input[name="Porte"] {
  background-color: #ffebcc;
}

/* Espaço entre botões */
button {
  margin-right: 10px;
}
